
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0 auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

a {
  color: #F15A68;
}

a:hover {
  color: #ea8f97;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

p {
  font-weight: 300;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #55595c;
}

.navbar-collapse h4 {
  color: #818a91;
}

.navbar-collapse .text-muted {
  color: #818a91;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

.social a {
  font-weight: 500;
  color: #eceeef;
}
.social a:hover {
  color: #fff;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card{
  border-radius: 0;
}

.card > img{
  border-radius: 0;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #293034;
}

footer p {
  margin-bottom: .25rem;
}

.banner{
  color: #fff;
  background-color: #F15A68;
  border-radius: 0;
}

.banner p {
  color: #fff;
}

.banner h1 {
  color: #fff;
}

.display-5 {
  font-size: 3rem;
  font-weight: 300;
  padding-top: 0;
}

.card-link+.card-link {
  margin-left: 0;
}

.card-link:hover {
  border-color: #F15A68;
}

.card-link-p a {
  color: #53bfe0;
}
.card-link-p:hover {
  border-color: #83c3fc;
}
.card-link-p .card-title {
  color: #53bfe0;
}

.container-narrow {
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.tag-gis {
  background-color: #F15A68;
}

.tag-p {
  background-color: #53bfe0;
}
/* Customize container */
@media (min-width: 48em) {
  .container-narrow {
    max-width: 46rem;
  }
}
